# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing data sets

In [2]:
path = r'C:\Users\zunai\OneDrive\Documents\Data Analytics\Achivement 4\11-22 Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged_update.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 18)

In [5]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest days,Busiest_hours_of_day
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

# Q2. Find the aggregated mean of the “order_number” column grouped by “department_id”

In [7]:
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### Q3. When we found the mean 'order_numbers' grouped by 'department_id' for only the first million rows of the data set, not all the 'department_id' groups were present. Now hoever we have a mean for all the department ids.

# Q4. Create a loyalty flag for existing customers using the transform() and loc() functions

In [8]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge[['user_id', 'max_order', 'order_number']].head()

   user_id  max_order  order_number
0        1         10             1
1        1         10             2
2        1         10             3
3        1         10             4
4        1         10             5

In [13]:
# Deriving 'loyalt_flag' column using loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(30)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10

# Q5. Does the price of products purchased by loyal customers differ from regular or new customers

In [17]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

# Q6.

In [18]:
#Group data based on user_id, and transform prices to generate average_price column
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
ords_prods_merge.head(30)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,Busiest day,Busiest days,Busiest_hours_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,999.0,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,999.0,196,4,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regular days,Most orders,27,Regular customer,6.356287

In [21]:
#Create flag that assigns a “types of spenders” label to a user ID based on average prices.

ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spender_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spender_flag'] = 'High spender'

In [23]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_flag, dtype: int64

# Q7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers.

In [24]:
#Group data based on user_id, and transform days_since_prior_order to generate median_days_since_prior_order column
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
#Derive column conditions
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order']>20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order']>10) & (ords_prods_merge['median_days_since_prior_order']<=20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order']<=10, 'frequency_flag'] = 'Frequent customer'

In [28]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        20514478
Regular customer          7269731
Non-frequent customer     4620650
Name: frequency_flag, dtype: int64

In [29]:
ords_prods_merge[['user_id', 'loyalty_flag', 'spender_flag', 'frequency_flag']].head(30)

    user_id      loyalty_flag spender_flag         frequency_flag
0         1      New customer  Low spender  Non-frequent customer
1         1      New customer  Low spender  Non-frequent customer
2         1      New customer  Low spender  Non-frequent customer
3         1      New customer  Low spender  Non-frequent customer
4         1      New customer  Low spender  Non-frequent customer
5         1      New customer  Low spender  Non-frequent customer
6         1      New customer  Low spender  Non-frequent customer
7         1      New customer  Low spender  Non-frequent customer
8         1      New customer  Low spender  Non-frequent customer
9         1      New customer  Low spender  Non-frequent customer
10       15  Regular customer  Low spender       Regular customer
11       15  Regular customer  Low spender       Regular customer
12       15  Regular customer  Low spender       Regular customer
13       15  Regular customer  Low spender       Regular customer
14       15  Regular customer  Low spender       Regular customer
15       19      New customer  Low spender      Frequent customer
16       19      New customer  Low spender      Frequent customer
17       19      New customer  Low spender      Frequent customer
18       21  Regular customer  Low spender      Frequent customer
19       31  Regular customer  Low spender      Frequent customer
20       31  Regular customer  Low spender      Frequent customer
21       43  Regular customer  Low spender      Frequent customer
22       43  Regular customer  Low spender      Frequent customer
23       52  Regular customer  Low spender      Frequent customer
24       52  Regular customer  Low spender      Frequent customer
25       52  Regular customer  Low spender      Frequent customer
26       52  Regular customer  Low spender      Frequent customer
27       52  Regular customer  Low spender      Frequent customer
28       52  Regular customer  Low spender      Frequent customer
29       52  Regular customer  Low spender      Frequent customer

# Q9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [30]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_update2.pkl'))